* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:  #2c3e50;
}
/*header start*/
header .logoText {
  color: #fff;
  text-decoration: none;
  border: 2px solid darkgray;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 25px;
  font-weight: 700;
}
header span {
  color: aqua;
}
header .logoText:hover {
  background-color: darkgray;
  border-color: #fff;
}
header {
  background: linear-gradient(#2c3e50, #bdc3c7);
  color: #fff;
}
.nav-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
nav a {
  text-transform: uppercase;
  position: relative;
  margin: 0 2rem;
  color: gainsboro;
  text-decoration: none;
  letter-spacing: 1.5px;
}
nav a::after {
  content: '';
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 0;
  left: 0;
  top: 25px;
  transition: 0.3s;
}
nav a:hover {
  color: #fff;
}
nav a:hover::after {
  width: 100%;
}
header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  display: none;
  font-size: 1.8rem;
}
.btn-resume {
  border-radius: 5px;
  padding: 8px 20px;
  border: 2px solid #fff;
}
.btn-resume a {
  text-decoration: none;
  color: #fff;
}
@media(max-width:768px) {
  header .nav-btn {
    flex-direction: column-reverse;
    display: block;
  }
  .nav-container nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: linear-gradient(#2c3e50, #bdc3c7);
    transition: 1s;
    transform: translateY(-100vh);
  }
  header .responsive_nav {
    transform: none;
  }
  nav .nav-close-btn {
    position: absolute;
    top: 1.2rem;
    right: 1.8rem;
  }
  nav a {
    font-size: 1.5rem;
  }
}
/*header end*/
/*herosection start */
.hero {
  margin-top: 30px;
}
.heroContent {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.text-content span {
  font-size: 36px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  color: gray;
}
.text-content h1 {
  font-size: 50px;
  color: gray;
}
.text-content h1 span {
  font-size: 40px;
  color: #fff;
}
.cursor {
  display: inline-block;
  width: 4px;
  height: 1em;
  background-color: white;
  animation: blink 0.7s infinite;
  position: relative;
  top: 3px;
  margin-left: 2px;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.text-content h4 {
  color: #fff;
  margin-top: 15px;
  font-size: 20px;
  font-family: roboto, sans-serif;
}
.Myimage {
  border-bottom: 2px solid darkgray;
  position: relative;
  overflow: hidden;
  width: 300Px;
  height: 500px;
}
.Myimage img {
  top: 0;
  left: 0;
  position: absolute;
  animation: transform .7s forwards 1s;
  object-fit: contain;
  
}
@keyframes transform {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);   

  }

}
.btn {
  margin-top: 20px;
  font-size: 14px;
  font-family: roboto, sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
}
.btn:hover {
  cursor: pointer;
  background-color: darkred;
}
@media(max-width:768px) {
  .heroContent {
    flex-direction: column;
    gap: 30px;
  }
  .text-content {
    width: 100%;
  }
  .text-content h1 span {
    font-size: 20px;
  }
  .text-content h1 {
    font-size: 24px;
  }
  .text-content h4 {
    font-size: 16px;
  }
  .Myimage {
    height: 287px;
  }
  .Myimage img {
    width: 100%;
  }
}
@media(min-width:769px) {
  .text-content {
    width: 100%;
  }
  .Myimage {
    max-height: 390px;
    width: 100%;
  }
  .Myimage img {
    width: 100%;
  }
}
/*herosection end/
/*about me start*/
.about {
  margin-top: 30px;
}
.aboutContent {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutImage {
  width: 100%;
}
.aboutImage img {
  width: 100%;
}
.AboutMeText h1 {
  color: #fff;
  font-family: roboto, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
}
.AboutMeText h5 {
  color: #fff;
  margin-top: 10px;
  font-size: 24px;
  font-family: roboto, sans-serif;
}
.AboutMeText p {
  color: #fff;
  margin-top: 5px;
  font-size: 16px;
  font-family: roboto, sans-serif;
}
@media(max-width:768px) {
  .aboutContent {
    flex-direction: column;
    gap: 30px;
  }
}
@media(min-width:769px) {
  .aboutContent {
    gap: 0;
  }
  .aboutImage {
    width: 100%;
  }
  .aboutImage img {
    min-width: 250px;
  }
  .AboutMeText {
   max-width: 100%;
  }
}
/*about me end*/
/*skills start*/
.skills {
  height: 100%;
  margin-top: 50px;
  padding-bottom: 270px;
}
.skillSection {
  height: 250px;
  padding-top: 50px;
  background-color: gray;
  width: 80%;
  margin: 0 auto;
}
.skillContent {
  width: 90%;
  margin: 10px 30px auto auto;
  border-radius: 20px;
  margin-top: 50px;
  background-color: #fff;
}
.circle {
  height: 25px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
}
.circle .first-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: gray;
}
.circle .sec-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: gray;
}
.skillContent h1 {
  padding-bottom: 50px;
  text-align: center;
  color: black;
}
.skillContent span {
  color: blue;
}
.skillProgressbar ul {
  display: flex;
  justify-content: space-between;
}

.skillProgressbar ul li {
  padding-bottom: 10px;
  list-style: none;
}
.firstline {
  width: 100%;
  background-color: gray;
  height: 8px;
}
.secline {
  background: linear-gradient(#2193b0 , #6dd5ed);
  width: 0%;
  height: 8px;
}
.grid {
  padding: 0px 0px 60px 0px;
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  gap: 60px;
  grid-template-columns: auto auto;

}
#skillbox:nth-child(2) > div.firstline > div{
  width: 0%;
  background: linear-gradient(#E43D00, #FFE900);
}
#skillbox:nth-child(3) > div.firstline > div {
  width: 0%;
  background: linear-gradient(#cc2b5e,  #753a88);
}
#skillbox:nth-child(4) > div.firstline > div {
  width: 0%;
  background: linear-gradient(#42275a, #734b6d);
}
#skillbox:nth-child(5) > div.firstline > div {
  width: 0%;
  background: linear-gradient(#000428,  #004e92);
}
#skillbox:nth-child(6) > div.firstline > div {
  width: 0%;
  background: linear-gradient(#ff512f, #dd2476);
}
#skillbox:first-child > div.skillProgressbar > ul > li {
  color: aqua;
  font-weight: 650;
}
#skillbox:nth-child(2) > div.skillProgressbar > ul > li {
  color: #E43D00;
  font-weight: 650;
}
#skillbox:nth-child(3) > div.skillProgressbar > ul > li {
  color: #cc2b5e;
  font-weight: 650;
}
#skillbox:nth-child(4) > div.skillProgressbar > ul > li {
  color: #42275a;
  font-weight: 650;
}
#skillbox:nth-child(5) > div.skillProgressbar > ul > li {
  color: #004e92;
  font-weight: 650;
}
#skillbox:nth-child(6) > div.skillProgressbar > ul > li {
  color: #dd2476;
  font-weight: 650;
}
@media(max-width:768px) {
  .grid {
    grid-template-columns: auto;
    gap: 20px;
    padding: 0px 0px 20px 0px;
  }
  .skillContent h1 {
    padding: 0px 0px 15px 0px;
  }
  #root > div > div.skillSection > div > div > div:nth-child(3) > div.firstline > div {
    width: 80%;
  }
  #root > div > div.skillSection > div > div > div:nth-child(4) > div.firstline > div {
    width: 70%;
  }
  #root > div > div.skillSection > div > div > div:nth-child(5) > div.firstline > div {
    width: 70%;
  }
  #root > div > div.skillSection > div > div > div:nth-child(6) > div.firstline > div {
  width: 70%;
  }  
}
/*skills start*/
/*project start*/
.project {
  /* padding-top: 270px; */
  width: 80%;
  margin: 0 auto;
}
.project h1 {
  padding: 20px 0px 30px 0px;
  text-align: center;
  color: #fff;
}
.project span {
  color: #2193b0;
}
.projectCard {
  margin-bottom: 60px;
  gap: 30px;
  display: flex;
}
.projectText {
  margin-top: auto;
}
.projectText h4 {
  color: #fff;
}
.projectText a {
  color: red;
}
.projectCard:first-child {
  flex-direction: row-reverse;
}
.projectCard:nth-child(3) {
  flex-direction: row-reverse;
}
.projectlistImg img {
  width: 600px;
  transition: ease .9s;
}
.projectlistImg img:hover {
  transform: scale(1.1);
}
@media(max-width:768px) {
  .projectCard {
    width: 100%;
    flex-direction: column;
  }
  .projectlistImg img {
    width: 100%;
  }
  .projectCard:first-child {
    flex-direction: column-reverse;
  }
  .projectCard:nth-child(2) {
    flex-direction: column-reverse;
  }
   .projectCard:nth-child(3) {
    flex-direction: column-reverse;
  }
  .projectCard:last-child {
    flex-direction: column-reverse;
  }
}
/*project end*/
/*from start*/
#form-container h1 {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}
#form-container h1 span {
  color: #2193b0;
}
.form-content {
  display: flex;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}
.formText {
  width: 50%;
  font-size: 20px;
  word-wrap: break-word;
  color: #fff;
}
form {
  gap: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}
input {
  border-radius: 10px;
  color: #fff;
  outline: none;
  border-color: #fff;
  padding: 15px 30px;
  background: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  border-radius: 10px;
  grid-column: 1/3;
  grid-row: 3/4;
  height: 150px;
  color: #fff;
  outline: none;
  background: transparent;
  border-color: #fff;
}
.btn-sent {
  width: 100px;
  margin-top: 25px;
  border: none;
  background: blueviolet;
  border-radius: 5px;
  padding: 10px  20px;
}
@media(max-width:768px) {
  .form-content {
    flex-direction: column;
  }
  form {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  textarea {
    grid-column: auto;
    grid-row: auto;
  }
  .formText {
    margin-top: 0;
    width: 100%;
  }
  .formText h1 {
    width: 100%;
    /* font-size: 20px; */
  }
}
/*from end*/
/*resume start*/
.resume-container { 
  width: 80%;
  margin: auto;
}
.resume-page {
  gap: 100px;
  display: flex;
}
.resume-content1 h1 {
  font-size: 76px;
  font-weight: 500;
  color: #fff;
}
.resume-content1 h4 {
  margin-bottom: 30px;
  font-size: 20px;
  color: #fff;
}
.contact-info h2 {
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #fff;
}
.contact-info ul li {
  list-style: none;
  color: #fff;
}
.contact-info ul li i {
  padding-right: 10px;
  padding-bottom: 10px;
}
.achievement-info h2 {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #fff;
}
.achievement-info ul li {
  margin-left: 15px;
  color: #fff;
}
.skill-info h2 {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.skill-info ul li {
  color: #fff;
  margin-left: 15px;
}
.language-info h2 {
  color: #fff;
  margin-top: 20px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.language-info ul li {
  margin-left: 15px;
  color: #fff;
}
.resume-content2 h2 {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.resume-content2 p {
  color: #fff;
}
.education-info h2 {
  margin-top: 20px;
}
.education-info h4 {
  color: #fff;
}
.training-certificate-info h5 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
}
.news-web h4 {
  margin-bottom: 10px;
}
.travel-web h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.cooperate-web h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ngo-web h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media(max-width:768px) {
  .resume-page {
    flex-direction: column;
  }
}
/*resume end*/
/*foteer start*/
.footerContainer {
  margin-top: 60px;
}
.footerContent {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
}
.myname h1 {
  font-size: 36px;
  color: #fff;
}
.myname h1 span {
  color: rebeccapurple;
}
.contentlistme ul li {
  list-style: none;
  padding-bottom: 10px;
}
.contentlistme ul li a {
  text-decoration: none;
  color: #fff;
}
.contentlistme ul li a:hover {
  text-decoration: underline;
}
.socialMedia {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.socialMedia a {
  font-size: 20px;
  color: #fff;
}
.me {
  margin-top: 30px;
  text-align: center;
}
.me p {
  color: #fff;
}
@media(max-width:768px) {
  .footerContent {
    text-align: center;
    grid-template-columns: auto;
  }
  .socialMedia a {
    color: #fff;
   
  }
  .socialMedia {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
/*foteer start*/